services:
  # SQL Server for EF Core 7+
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Test@123!
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "Test@123!", "-Q", "SELECT 1", "-C"]
      interval: 10s
      timeout: 10s
      retries: 20
      start_period: 40s

  # RabbitMQ for Message Broker 
  broker:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  # Your Modular Monolith API
  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_started
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=db;Database=Navigation_Db;User Id=sa;Password=Test@123!;TrustServerCertificate=True;MultipleActiveResultSets=true;
      - MessageBroker__Host=broker
      - MessageBroker__Exchange=journey.events
 
  rewardworker:
    build:
      context: .
      dockerfile: src/RewardWorker/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_started
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Navigation_Db;User Id=sa;Password=Test@123!;TrustServerCertificate=True;MultipleActiveResultSets=true;
      - MessageBroker__Host=broker
      - MessageBroker__Exchange=journey.events
      - MessageBroker__RewardQueue=reward-worker.journey-events
 
 
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
        api:
            condition: service_started
